.mat-list {
    border: 1px solid black;
    width: 30%;
    
}
.mat-list-text {
    color: black;
}

.image-container {
    background-position: center;
    background-size: contain;
    height: 250px;
    width: 150px;
    background-repeat: no-repeat;
    
}
