.container-image {
    background-position: center;
    background-size: contain;
    height: 250px;
    width: 150px;
    background-repeat: no-repeat;
    margin: 0;
    display: inline-block;
    
}

.container-showroom {
    
    display: flex;
    overflow: scroll;
    
}